<footer role="contentinfo" class="footer">
  <div class="container">
    <div class="site-bottom">
      <img
        class="site-bottom__img"
        src="../../assets/images/maple-leaf-maplr.png"
        alt=""
      />
      <section class="site-bottom__items">
        <h2 class="site-bottom__title">Qui sommes nous</h2>
        <ul class="site-bottom__list">
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">A propos de Maplr</a>
          </li>
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">Mode de livraison</a>
          </li>
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">CGV</a>
          </li>
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link"
              >Politique de confidentialité</a
            >
          </li>
        </ul>
      </section>
      <section class="site-bottom__items">
        <h2 class="site-bottom__title">Votre espace</h2>
        <ul class="site-bottom__list">
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">Mon compte</a>
          </li>
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">Mes commandes</a>
          </li>
        </ul>
      </section>
      <section class="site-bottom__items">
        <h2 class="site-bottom__title">Aide</h2>
        <ul class="site-bottom__list">
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">Nous contacter</a>
          </li>
          <li class="site-bottom__list-item">
            <a href="" class="site-bottom__link">FAQ</a>
          </li>
        </ul>
      </section>
    </div>
  </div>
</footer>
