<li class="product" *ngIf="product">
  <img
    class="product__img"
    [src]="'../../assets/images/' + product.image"
    alt=""
  />
  <div class="product__text-container">
    <p class="product__title">{{ product.name }}</p>
    <p class="product__price">{{ product.price }}€</p>
  </div>
  <div class="product__btn-container">
    <a
      class="btn m-s"
      [routerLink]="['/produit', product.id]"
      [attr.aria-label]="'Voir la page de l\'article ' + product.name"
      >Voir</a
    >
    <button
      class="btn btn-full m-s"
      role="button"
      (click)="addProduct(product.id)"
      [attr.aria-label]="'Ajouter ' + product.name + ' au panier'"
    >
      Ajouter
    </button>
  </div>
</li>
