<section class="hero">
  <div class="container hero__container">
    <div class="hero__text-container">
      <h1 class="hero__title">
        Découvrez notre collection de
        <span class="c-primary">sirop d'érable</span>
      </h1>
    </div>
    <div class="hero__img-box">
      <img
        class="hero__img"
        src="../../assets/images/sirup-illustration.jpg"
        alt=""
      />
    </div>
  </div>
  <img class="hero__sep" src="../../assets/images/separation.png" alt="" />
</section>
<app-market></app-market>
