html {
  height: 100%;
}

body {
  min-height: 100vh;
  box-sizing: border-box;
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  padding: 0;
  margin: 0;
  color: var(--color-text);
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

.container {
  margin: 0 auto;
  max-width: 1100px;
  padding: 5rem 1rem;
}

